version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: maymay
      POSTGRES_PASSWORD: maymay
      POSTGRES_DB: flaskdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U maymay -d flaskdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3

  app:
    build: .
    ports:
      - "8000:8000"
    command: >
      sh -c "gunicorn -w 2 -b 0.0.0.0:8000 --access-logfile - 'app:create_app()'"
    environment: 
      DATABASE_URL: postgresql+psycopg2://maymay:maymay@db:5432/flaskdb
      REDIS_URL: redis://redis:6379/0
      TASKS_CACHE_TTL: 60
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - app

volumes:
  postgres_data: